.sidenav {
    width: 200px;
    height: 100vh;
    background-color: #444;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 60px;
    left: 0;
  }
  
  .sidenav a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
  }
  